<a href="https://colab.research.google.com/github/gustavo-duarte-silva/ML-wine-type/blob/main/Wine_Red_White.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd

In [37]:
#Carregando o Dataset
df = pd.read_csv("/content/drive/MyDrive/CIENTISTA DE DADOS/PROJETOS/RED WINE QUALITY/wine_dataset.csv")
df

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5    red
1               7.8              0.88         0.00  ...      9.8        5    red
2               7.8              0.76         0.04  ...      9.8        5    red
3              11.2              0.28         0.56  ...      9.8        6    red
4               7.4              0.70         0.00  ...      9.4        5    red
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6  white
6493            6.6              0.32         0.36  ...      9.6        5  white
6494            6.5              0.24         0.19  ...      9.4        6  white
6495            5.5              0.29         0.30  ...     12.8        7  white
6496            6.0              0.21         0.38  ...     11.8        6  white

[6497 rows x 13 columns]

In [43]:
#Criando uma Nova Coluna com a variavel Target em binario
df['style_bin'] = df['style'].replace('red', 1)
df['style_bin'] = df['style_bin'].replace('white', 0)
df.drop(columns='style', inplace=True)
df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style_bin
0            7.4              0.70         0.00  ...      9.4        5          1
1            7.8              0.88         0.00  ...      9.8        5          1
2            7.8              0.76         0.04  ...      9.8        5          1
3           11.2              0.28         0.56  ...      9.8        6          1
4            7.4              0.70         0.00  ...      9.4        5          1

[5 rows x 13 columns]

In [53]:
#verificando valores nulos
df.isnull().any()

fixed_acidity           False
volatile_acidity        False
citric_acid             False
residual_sugar          False
chlorides               False
free_sulfur_dioxide     False
total_sulfur_dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
style_bin               False
dtype: bool

In [54]:
#Removido a Coluna Quality pois Ã© um data leakage
X = df.drop(columns=['quality', 'style_bin'])
y = df.iloc[:,-1]

In [55]:
#Carregando a biblioteca para divisÃ£o dos dados
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X ,y, test_size=0.3, random_state=47)

In [56]:
#Escolhendo o ExtraTreesClassifier como Algoritmo do modelo
from sklearn.ensemble import ExtraTreesClassifier

In [57]:
modelo = ExtraTreesClassifier()
modelo.fit(x_train, y_train)

ExtraTreesClassifier()

In [58]:
resultado = modelo.score(x_test, y_test)
print("Acuracia: ", resultado)

Acuracia:  0.9948717948717949

In [61]:
x_test[405:410]

      fixed_acidity  volatile_acidity  citric_acid  ...    pH  sulphates  alcohol
5828            6.3              0.26         0.25  ...  2.97       0.68     11.0
607             8.8              0.48         0.41  ...  3.31       0.53     10.5
2701            6.3              0.16         0.40  ...  3.44       0.53     11.4
321             9.3              0.61         0.26  ...  3.24       0.62      9.7
1464            6.8              0.59         0.10  ...  3.41       0.67      9.7

[5 rows x 11 columns]

In [62]:
y_test[405:410]

5828    0
607     1
2701    0
321     1
1464    1
Name: style_bin, dtype: int64

In [60]:
modelo.predict(x_test[405:410])

array([0, 1, 0, 1, 1])

In [52]:
#Exportando meu Modelo para ProduÃ§Ã£o - Streamlit
import pickle
pickle_out = open('/content/drive/MyDrive/CIENTISTA DE DADOS/PROJETOS/RED WINE QUALITY/modelo.pkl','wb')
pickle.dump(modelo, pickle_out)
pickle_out.close()